@media screen and (min-width: 740px) {
    .about-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    img {
        width: 90%;
    }
    
    figure {
        align-self: start;
        margin: 10px 0;
    }

    .section-top {
        height: 80%;
    }
}