@media screen and (min-width: 740px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    .content {
        display: flex;
        flex-direction: row;
    }

    form {
        width: 50%;
    }

    section {
        margin-top: 10px;
        width: 50%;
    }

    .membership-card {
        width: 90%;
    }

}