@media screen and (min-width: 740px) {
    nav {
        display: inline;
        width: auto;
    }

    .header h1 {
        font-size: 3rem;
    }

    .disappear {
        display: inline;
    }

    .main-wrapper {
        height: 780px;
    }

    .list-wrapper {
        display: inline;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 100%;
    }
    
    .navigation a {
        text-align: center;
        font-size: 1.5rem;
    }

    #menu {
		display: none;
	}

    figure img {
        width: 300px;
        height: 217px;
    }
    
    .right-content-wrapper figcaption {
        width: 150px;
    }

    .filter {
        flex-direction: row;
    }

    .certificate-links {
        height: 400px;
    }

    .certificate-links h2 {
        width: 700px;
    }

    #credits {
        height: 71px;
    }

    #credits p {
        width: 500px;
        height: 29px;
    }

    #links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    #links div {
        width: auto;
    }

    footer p {
        width: 700px;
    }
}
